<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092196399464-tqo2chrq3379903u8ss57f8dgfleb2i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092196399464-tqo2chrq3379903u8ss57f8dgfleb2i2</string>
	<key>API_KEY</key>
	<string>AIzaSyCHxDy2o0LAKBmLGhF47DnZetz11FxcXBs</string>
	<key>GCM_SENDER_ID</key>
	<string>1092196399464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.enrix.customerPortal</string>
	<key>PROJECT_ID</key>
	<string>my-awesome-projects-web</string>
	<key>STORAGE_BUCKET</key>
	<string>my-awesome-projects-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092196399464:ios:327cbda687c5289920fedd</string>
	<key>DATABASE_URL</key>
	<string>https://my-awesome-projects-web.firebaseio.com</string>
</dict>
</plist>